{% extends 'layout.html' %}

{% block body %}

    <div class="col-md-12">                

        <div class="row justify-content-between">

            <div class="card" >
                <img src="./static/content/solarPV1.jpeg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Solar PV</h3>
                    <h1>23 GW</h1>
                </div>
            </div>

            <div class="card">
                <img src="./static/content/windon.jpeg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Onshore Wind</h3>
                    <h1>74 GW</h1>
                </div>
            </div>
        
            <div class="card">
                <img src="./static/content/wave.jpeg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Wave</h3>
                    <h1>6.7 MW</h1>
                </div>
            </div>
            
        </div>

        <br>

        <div class="row justify-content-between">

            <div class="card">
                <img src="./static/content/solarCSP1.jpg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Solar CSP</h3>
                    <h1>12 GW</h1>
                </div>
            </div>

            <div class="card">
                <img src="./static/content/windoff2.jpg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Offshore Wind</h3>
                    <h1>51 GW</h1>
                </div>
            </div>

            <div class="card">
                <img src="./static/content/tidal.jpg" class="card-img-top" style="width: 18rem; height: 12rem;">
                <div class="card-body text-center">
                    <h3>Tidal</h3>
                    <h1>4 GW</h1>
                </div>
            </div>
        
        </div>
    
    </div>


{% endblock %}