<!DOCTYPE html>

<html>
    <head>
        <meta cjarset="ut-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Renewable Energy Database</title>

        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Other plugins required to run bootstraps (dependencies)-- required in that order -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>         
        
        <!-- jQuery plugin -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Datepicker plugin - https://github.com/uxsolutions/bootstrap-datepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet" >

        <style>
            div[class="component-group-buttons"] {
                display: flex;
                justify-content: flex-end;
            }
            
            

        </style>
          <!--
            div[class="row"] {
                outline: 1px dotted rgba(0, 0, 0, 0.25);
            }
            
            div[class^="col-"] {
                background-color: rgba(255, 0, 0, 0.2);
                outline: 1px dotted rgba(0, 0, 0, 0.5);
            }
            

          -->

    </head>

    <body>
        {% include 'includes/_navbar.html' %}

        <div class="container">
            <br>
            <br>
            <br>
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>


        
    </body>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2019 Shmiggit Indushtries</p>
    </footer>
</html>